$themeColor : #0e2d88;

.App {
  text-align: center;
  font-family: 'Jua', sans-serif;
}

.App-header {
  background-color: $themeColor;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
